{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    ["transform-imports"],
      [
        "module-resolver",
        {
          "alias": {
            "@": "./src"
          }
        }
      ]
  ]
}
