{
  "presets": [
      [
        "@babel/preset-react",
        {
          "runtime": "automatic"
        }
      ],
      ["@babel/preset-env"]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}